body {
  font-family: 'Times New Roman', Times, serif;
}

.headerTabelBuah {
  text-align: center;
  font-size: 40px;
}

.tabelBuah {
  border: 2px solid black !important; 
  margin: 0 auto;
}

.trthBuah {
  background-color:rgb(182, 181, 181);
}

.trtdBuah {
  background-color:rgb(241, 177, 103);
}

.thNamaBuah {
  padding: 1px 100px;
}

.thBuah {
  padding: 1px 60px;
}

.tabelWaktu {
  margin: 0 auto;
}

.tdJam {
  text-align: left;
  padding: 1px 100px 1px 0;
}

.tdCountdown {
  text-align: right;
  padding: 1px 0 1px 100px;
}